nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 8px;
    font-weight: 500;
}

nav ul{
    display: flex;
    gap: 24px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}